body {
    background-color: rgb(41, 40, 39);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blanchedalmond;
}

p {
    border-radius:10px;
    width:300px;
    padding:10px;
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.336);*/
    word-wrap: break-word;
    color: rgb(15, 15, 13);
    animation-duration: 300ms;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.userMessage {
    border-bottom-right-radius:0px;
    background-color:blanchedalmond;
    float:right;
}

.botMessage {
    border-bottom-left-radius:0px;
    background-color:lightskyblue;
    float:left;
}

#userInput textarea{
    outline: none;
    bottom: 1em;
    left: 14px;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 76%;
    height: 48px;
    resize: none;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgb(75, 75, 75);
    border-right: 5px solid teal;
    margin: 0;
    background-color: blanchedalmond;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#userInput button{
    font-weight: bold;
    outline: none;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    right: 14px;
    bottom: 1em;
    height: 70px;
    width: 14%;
    background-color: blanchedalmond;
    border: 1px solid rgb(75, 75, 75);
    color: teal;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    margin: 0;
}

/*
#userInput textarea{
    position: relative;
    border-radius: 10px;
    width: 85%;
    height: 100%;
    resize: none;
}

#userInput button{
    width: 10%;
}
*/

#chatWindow {
    margin-left: auto;
    margin-right: auto;
    top: 2em;
    position: relative;
    width:500px;
    height:700px;
    border-style:solid;
    border-radius:5px;
    background-color: rgb(49, 40, 40);
    box-shadow: 0px 0px 10px 1px #00000080;
    padding: 0;
    background-color: teal;
}

#messages {
    padding:10px;
    height:83%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    background-color: teal;
}

#inputArea {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: tomato;
}

span {
    display: inline-block;
}